@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

/* Hero styles */
/* Main design is handled with Tailwind classes inside Hero.jsx */

.hero {
  width: 100%;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}